@import "~shared/styles/variables.scss";
@import "~shared/styles/mixins.scss";

.review-tab {
  position: relative;

  &__toggle-form {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 0;
    background-color: $base-color;
    outline: none!important;
    animation: appearRight .5s;
  }


  &__toggle-form-minus {
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }

  &__toggle-form-plus {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__toggle-form-plus::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }

  &__toggle-form-plus::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
  }

  &__key {
    margin-bottom: 5px;

    @include tablet {
      margin-bottom: 0;
      line-height: 34px;
    }
  }

  &__form-header {
    font-size: 20px;
  }

  &__reviews {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__review-wrapper {
    width: 100%;

    @include tablet {
      width: 48%;

      &:nth-child(2n+1) {
        margin-right: 2%;
      }

      &:nth-child(2n) {
        margin-left: 2%;
      }
    }
  }

  &__review {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 1px solid $color-2;
    border-radius: 0 25px 25px 25px;
    box-shadow: 4px 4px 0 0 $color-4;

    &_temp {
      border: 1px dashed $color-4;
      color: $color-4!important;
      box-shadow: 4px 4px 0 0 $color-3;
      animation: appearBlinking .6s;

      .star-rating {
        opacity: 0.4;
      }
    }
  }


  &__stars-rating {
    margin-bottom: 5px;
  }

  &__author {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__body {
    padding: 5px;
    border-top: 1px solid $color-3;
  }


  &__text {
    font-size: 14px;
  }

  &__form {
    animation: appearAccordeon .4s;
    margin-bottom: 30px;
    border-bottom: 1px solid $base-color;
    padding: 30px 0;

    @include tablet {
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px;
    }
  }

  &__form-inner {
    padding: 0 15px;
  }

  &__form-header {
    padding: 20px 25px;
    background-color: $base-color;
    color: $white;
    text-align: center;

    @include tablet {
      padding: 20px 25px;
      border-top: 1px solid $base-color;
      border-bottom: 1px solid $base-color;
      background-color: transparent;
      color: $base-color;
    }
  }

  &__stars-wrapper {
    white-space: nowrap;
  }
}
