<div class="review-tab">
    <button class="review-tab__toggle-form btn" type="button"
            ng-click="$ctrl.toggleReviewForm()">
        <span class="review-tab__toggle-form-plus"
              ng-show="!$ctrl.isReviewFormShown()" title="Add review">Add review</span>
        <span class="review-tab__toggle-form-minus"
              ng-show="$ctrl.isReviewFormShown()" title="Hide form"></span>
    </button>
    <form class="review-tab__form form"
          name="reviewForm"
          ng-show="$ctrl.isReviewFormShown()">
        <h4 class="review-tab__form-header">Type your review down here</h4>
        <div class="review-tab__form-inner"><label class="review-tab__label">
            <div class="row">
                <div class="col-xs-12 col-sm-6 review-tab__key">Rating:</div>
                <div class="col-xs-12 col-sm-6">
                    <div class="review-tab__stars-wrapper">
                        <mz-star-rating
                                rating-value="$ctrl.newReview.stars"
                                max="5"></mz-star-rating>
                    </div>
                </div>
            </div>
        </label>
            <label class="review-tab__label">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 review-tab__key">Name:</div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" name="name" required
                               class="form-control"
                               placeholder="Enter your name"
                               ng-model="$ctrl.newReview.author"
                               autocomplete="off">
                    </div>
                </div>
            </label>
            <label class="review-tab__label">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 review-tab__key">Review text:</div>
                    <div class="col-xs-12 col-sm-6">
                            <textarea name="review" cols="30" rows="5" required
                                      ng-model="$ctrl.newReview.body"
                                      placeholder="Type you review review here.."></textarea>
                    </div>
                </div>
            </label>
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <button type="button" class="btn btn-primary btn-block"
                            ng-disabled="!$ctrl.isReviewFormValid(reviewForm)"
                            ng-click="$ctrl.addReview();$ctrl.toggleReviewForm()">Post your review
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="review-tab__reviews">
        <div class="review-tab__review-wrapper"
             ng-if="$ctrl.isReviewFormShown()">
            <div class="review-tab__review review-tab__review_temp">
                <div class="review-tab__review-head clearfix">
                    <div class="review-tab__stars-rating">
                        <mz-star-rating
                                rating-value="$ctrl.newReview.stars"
                                readonly="true"
                                max="5"></mz-star-rating>
                    </div>
                    <div class="review-tab__author">{{$ctrl.newReview.author}}
                    </div>
                </div>
                <div class="review-tab__body">
                    <p class="review-tab__text">{{$ctrl.newReview.body}}
                    </p>
                </div>
            </div>
        </div>
        <div class="review-tab__review-wrapper"
             ng-repeat="review in $ctrl.reviews">
            <div class="review-tab__review">
                <div class="review-tab__review-head clearfix">
                    <div class="review-tab__stars-rating">
                        <mz-star-rating
                            rating-value="review.stars"
                            readonly="true"
                            max="5"></mz-star-rating>
                    </div>
                    <div class="review-tab__author">
                        {{review.author}}
                    </div>
                </div>
                <div class="review-tab__body">
                    <p class="review-tab__text">
                        {{review.body}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>