/* app css stylesheet */

body {
  font-family: 'Didact Gothic', sans-serif;
  color: #47334e!important;
  min-width: 280px;
  background-color: #fff;

}

body {
  color: #47334e;
}

.active {
  background-color: #eee;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

a,
a:hover,
a:focus {
   color: inherit;
   text-decoration: none;
 }

textarea {
  resize: none;
  display: block;
  width: 100%;
  overflow: auto;
  padding: 6px 12px;
  border: 1px solid #47334e;
  outline: none;
}

/* bootstrap*/
label {
  font-weight: 400;
}
.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #47334e;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #47334e;
}

/*******************MZ STAR RATING*************************/
.star-rating {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
}

.star-rating__star {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  color: #CCBFC3;
  cursor: pointer;
  user-select: none;
}

.star-rating__star_filled {
   color: #47334e;
 }

.star-rating__star_readonly {
   cursor: default;
 }

.btn-primary {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #47334e;
  color: #47334e!important;
  transition: .2s;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover:active{
  color: #fff!important;
  background: #47334e;
}

.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover:active{
  color: #47334e!important;
  background: transparent;
  border-color: inherit;
  cursor: default;
  outline: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-wrapper {
  margin-top: auto;
}

/*******************MZ IMAGE GALLERY*************************/
.mz-image-gallery {
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mz-image-gallery img {
  max-height: 100%;
  pointer-events: none;
  user-select: none;
}

.mz-image-gallery__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.mz-image-gallery__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  height: 25%;

}

.mz-image-gallery__item {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25%;
  height: 100%;
  border-bottom: 4px solid transparent;
  transition: .2s;
  padding: 10px;
}

.mz-image-gallery__item_active {
  border-bottom-color: #47334e;
}


@media (min-width: 768px) {


  .mz-image-gallery {
    flex-direction: row;
  }

  .mz-image-gallery__list {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: space-between;
  }

  .mz-image-gallery__main-wrapper {
    flex-grow: 1;
    margin-right: 30px;
    height: 100%;
  }


  .mz-image-gallery__item {
    height: 30%;
    width: auto;
    margin: 0;
    border: 0;
    border-right: 4px solid transparent;
  }

  .mz-image-gallery__item_active {
    border-right-color: #47334e;
  }
}
/************************/

/*******************MZ TABS*************************/
.mz-tabs__nav {
  margin-bottom: 30px;
  font-size: 16px;
}

.mz-tabs__tab {
  border-bottom: 1px solid #47334e;
}

.mz-tabs__tab-link {
  border-radius: 0!important;
  background-color: transparent!important;
  margin-bottom: 0!important;
  transition: .2s;
  border-bottom: 3px solid transparent;
}

.mz-tabs__tab_active .mz-tabs__tab-link {
  border-bottom-color: #47334e;
}

/*APP HEADER*/

.app-header {
  border-radius: initial;
  border: none;
  border-bottom: 5px solid #47334e;
  background-color: #ffffff;
  padding: 10px 0;
}

.app-header__logo {
  color: #47334e!important;
  font-family: 'Cutive', serif;
}

.app-header__logo-icon {
  animation: pumpLogo 2s infinite;
  font-size: 20px;
  margin-right: 5px;
}

.app-header__logo-icon::before {
  color: #829466;
}



.app-header__search-input::placeholder {
  color: #694C73;
}



.app-header__search-input:focus {
  box-shadow: none;
  outline: none;
  border-color: #47334e;
}

.app-header__search-icon-wrapper {
  border: 0;
  border-bottom: 1px solid #47334e;
  border-radius: 0;
  cursor: text;
  background-color: transparent;
}


.app-header__toggle {
   border: none;
   border-radius: 0;
 }

.app-header__toggle:focus,
.app-header__toggle:hover {
  background-color: transparent!important;
}

.app-header__toggle .icon-bar {
  background-color: #47334e!important;
}

.app-header__toggle:focus .icon-bar,
.app-header__toggle:hover .icon-bar {
  background-color: #4C3C4E!important;
}

.app-header__collapse-menu {
  border: 0;
}

.app-header__search-form {
  border: 0;
}

/*phone LIST*/
.phone-list {
  padding-bottom: 20px;
}

.phone-list__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.phone-list__item-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
}

.phone-list__item {
  padding: 20px;
  border-bottom: 1px solid #A88294;
  border-radius: 20px;
  width: 100%;
}

.phone-list__info-message-wrapper {
  margin-top: 10px;
}

.phone-list__info-message {
  font-size: 18px;
  display: table;
  margin: 0 auto;
  text-align: center;
  word-break: break-all;
  padding: 20px;
  border-top: 1px solid #A88294;
  border-bottom: 1px solid #A88294;
}

.phone-list__results {
  margin-top: 20px;
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #A88294;
  display: block;
  text-align: center;
  border-radius: 20px;
}

/*filter pane*/
.filter-pane {
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #47334e;
  border-bottom-width: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-pane__btn-block {
  padding: 5px 10px;
}

.filter-pane__btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
}

/*phone ITEM*/

  .phone-item__image-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #DED0D4;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .phone-item__image {
    height: 150px;
    width: auto;
    max-width: none;
  }

  .phone-item__title {
    font-size: 18px;
  }

  .phone-item__info {
    cursor: default;
  }

  .phone-item__title-wrapper {
    margin-bottom: 10px;
  }

  .phone-item__price {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
  }

  .phone-item__rating-wrapper {
    display: block;
    margin-bottom: 10px;
  }



/*phone detail*/
.phone-detail {
  padding: 20px 0 70px;
 }

.phone-detail__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.phone-detail__price {
  font-size: 24px;
}

.phone-detail__rating {
  margin-bottom: 30px;
}

.phone-detail__rating-info {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
  vertical-align: middle;
}

.phone-detail__title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.phone-detail__info-title {
  font-size: 20px;
}

.phone-detail__error {
  font-size: 18px;
  display: table;
  margin: 0 auto;
  text-align: center;
  word-break: break-all;
  padding: 20px;
  border-top: 1px solid #A88294;
  border-bottom: 1px solid #A88294;
}

/*REVIEWS*/
.review-tab {
  position: relative;
}

.review-tab__toggle-form {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 0px;
  background-color: #47334e;
  outline: none!important;
  animation: appearRight .5s;

}


.review-tab__toggle-form .review-tab__toggle-form-minus {
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.review-tab__toggle-form .review-tab__toggle-form-plus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.review-tab__toggle-form .review-tab__toggle-form-plus::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.review-tab__toggle-form .review-tab__toggle-form-plus::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.review-tab__label {
  display: block;
  margin-bottom: 15px;
}

.review-tab__key {
  margin-bottom: 5px;
}

.review-tab__form-header {
  font-size: 20px;
}

.review-tab__reviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.review-tab__review-wrapper {
  width: 100%;
}

.review-tab__review {
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #A88294;
  border-radius: 0 25px 25px 25px;
  box-shadow: 4px 4px 0 0 #CCBFC3;
}

.review-tab__review * {
  transition: .5s;
}


.review-tab__review.review-tab__review_temp {
  border: 1px dashed #CCBFC3;
  color: #CCBFC3!important;
  box-shadow: 4px 4px 0 0 #DED0D4;
  animation: appearBlinking .6s;
}

.review-tab__review.review-tab__review_temp .star-rating {
  opacity: 0.4;
}

.review-tab__stars-rating {
  margin-bottom: 5px;
}

.review-tab__author {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.review-tab__body {
  padding: 5px;
  border-top: 1px solid #DED0D4;
}


.review-tab__text {
  font-size: 14px;
}

.review-tab__form {
  animation: appearTop .4s;
}

.review-tab__stars-wrapper {
  white-space: nowrap;
}

.app-footer {
  padding: 30px 15px;
  text-align: center;
  color: #fff!important;
  background-color: #47334e;
  background-image: linear-gradient(#47334e, #392640) ;
  font-size: 22px;
  font-family: 'Cutive', serif;
}

.app-footer__logo {
  font-family: 'Cutive', serif;
}


.app-footer__logo-icon {
  animation: pumpLogo 2s infinite;
  margin-right: 5px;
}

.app-footer__copyright {
  font-size: 10px;
}

@media (min-width: 768px) {
  .app-header__search-form {
    padding: 0;
  }

  .phone-list__item-wrapper {
    width: 33.33333333%;
  }

  .phone-list__item {
    border: 1px solid #DED0D4;
  }

  .phone-detail__image-wrapper {
    margin-bottom: 0;
  }

  .review-tab__review-wrapper {
    width: 48%;
  }

  .review-tab__review-wrapper:nth-child(2n+1) {
    margin-right: 2%;
  }

  .review-tab__review-wrapper:nth-child(2n) {
    margin-left: 2%;
  }

  .review-tab__form {
    margin: 0 auto;
  }

  .review-tab__form-header {
    padding: 20px 25px;
    border-bottom: 1px solid #47334e;
  }

  .review-tab__form-inner {
    padding: 20px 25px;
  }

  .review-tab__key {
    margin-bottom: 0;
    line-height: 34px;
  }

  .phone-list__results {
    border-bottom: 0;
    text-align: left;

  }

  .phone-detail__rating {
    padding: 5px 15px 100px;
    display: table;
  }

  .phone-detail__rating-info {
    display: block;
    font-size: 22px;
  }

  .phone-detail__header {

    margin-bottom: 30px;
  }



}

@media (min-width: 992px) {
  .phone-list__item-wrapper {
    width: 25%;
  }

  .review-tab__form {
    width: 70%;
  }
}


  @keyframes appearRight {
  0% {
    opacity: 0.2;
    transform: translateX(10px);
  }
}

@keyframes appearLeft {
  0% {
    opacity: 0.2;
    transform: translateX(-10px);
  }
}

@keyframes appearTop {
  0% {
    opacity: 0.2;
    transform: translateY(-10px);
  }
}

@keyframes appearBottom {
  0% {
    opacity: 0.2;
    transform: translateY(10px);
  }
}

@keyframes appearBlinking {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.1;
  }
  30% {
      opacity: 0.6;
    }
  50% {
      opacity: 0.4;
    }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pumpLogo {
  50% {
    transform: scale(1.15);
  }
}