<nav class="app-header navbar navbar-default">
    <div class="app-header__inner container">
        <div class="app-header__logo-wrapper navbar-header">
            <button type="button"
                    ng-click='$ctrl.toggleMenuState()'
                    ng-if="$ctrl.hasMenu"
                    class="app-header__toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="app-header__toggle-line icon-bar"></span>
                <span class="app-header__toggle-line icon-bar"></span>
                <span class="app-header__toggle-line icon-bar"></span>
            </button>
            <a class="app-header__logo navbar-brand" href="#"><span class="app-header__logo-icon glyphicon glyphicon-apple"></span>mobileStore</a>
        </div>
        <div class="app-header__collapse-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             ng-class='{"in" : $ctrl.menuOpen}'
             ng-if="$ctrl.hasMenu">
            <a class="cart" href="#!/cart">
                <div class="cart__image"></div>
                <span class="cart__counter">{{$ctrl.getCartCount()}}</span>
            </a>
            <form class="app-header__search-form navbar-form navbar-right"
                  ng-if="$ctrl.hasSearch">
                <div class="app-header__search-form-inner form-group">
                    <div class="app-header__search-input-wrapper input-group">
                        <input type="text" class="app-header__search-input form-control"
                               ng-model="$ctrl.search"
                               ng-model-options="{ getterSetter: true }"
                               id="search" placeholder="Search for..." autocomplete="off">
                        <label class="app-header__search-icon-wrapper input-group-addon" for="search" autofocus>
                            <span class="app-header__search-icon glyphicon glyphicon-search"></span>
                        </label>
                </div>
            </form>
        </div>
    </div>
</nav>