<div class="cart-content">
    <div class="container">

        <h1 class="cart-content__title">Shopping cart
            <div class="cart-content__title-image"></div></h1>
        <div class="cart-content__inner"
             ng-if="$ctrl.getCartCount()">
            <aside class="cart-content__checkout">
                <div class="cart-content__checkout-inner">
                    <h2 class="cart-content__checkout-title">Proceed to
                    checkout</h2>
                    <div class="cart-content__checkout-content">
                        <div class="cart-content__checkout-table">
                            <span class="cart-content__checkout-table-prop">Items:</span>
                            <span class="cart-content__checkout-table-value">{{$ctrl.getCartCount()}}</span>
                        </div>
                        <div class="cart-content__checkout-table">
                            <span class="cart-content__checkout-table-prop">Total price:</span>
                            <span class="cart-content__checkout-table-value">{{$ctrl.getTotalPrice() | currency}}</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block cart-content__checkout-btn">Checkout</button>
                </div>
                <div class="hidden-xs cart-content__clean-btn-wrapper">
                    <button type="button"
                            ng-click="$ctrl.cleanCart()" class="btn btn-primary btn-block cart-content__checkout-btn">Empty cart <span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </aside>
            <div class="cart-content__list">
                <div class="cart-content__item" ng-repeat="phone in $ctrl.getCart()">
                    <cart-item
                        item="phone"></cart-item>
                </div>
                <div class="cart-content__total-price">
                    <span>Total: {{$ctrl.getTotalPrice() | currency}}</span>
                </div>
            </div>
        </div>
        <div class="cart-content__info"
        ng-if="!$ctrl.getCartCount()">
            There are no items in the cart yet. Go ahead and add some
        </div>
    </div>
</div>